{{ define "main" }}
  <section class="intro" id="bio">
    <p class="kicker">University of Pennsylvania</p>
    <h1>Yphtach Lelkes</h1>
    <p class="subtitle">Professor of Communication and Member of the Political Science Graduate Group</p>
    <p class="profile-links">
      <a href="https://scholar.google.com/citations?user=agGvWl8AAAAJ&hl=en">Google Scholar</a>
      <span aria-hidden="true">/</span>
      <a href="https://polarizationresearchlab.org/">Polarization Research Lab</a>
      <span aria-hidden="true">/</span>
      <a href="https://www.asc.upenn.edu/research/centers/center-for-information-networks-and-democracy">CIND</a>
    </p>
  </section>

  <article class="content home-content">
    {{ .Content }}
  </article>
{{ end }}
